# -------------------
# OS / Editor
# -------------------
.DS_Store
Thumbs.db
*.swp
*.swo
*.swn
*.bak
*.tmp
*.log
*.seed
*.pid
*.pid.lock

# VSCode
.vscode/
.vscode-test/

# -------------------
# Node / React
# -------------------
node_modules/
dist/
build/
out/
.cache/
.parcel-cache/
.next/
.nuxt/
.svelte-kit/
.vitepress/dist/
.vitepress/cache/
*.tgz
.env
.env.*
!.env.example

# -------------------
# Go
# -------------------
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
vendor/
bin/

# Go modules
go.sum
go.mod

# -------------------
# Terraform
# -------------------
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
terraform.tfvars
*.auto.tfvars

# -------------------
# Docker
# -------------------
**/Dockerfile.*
docker-compose.override.yml
docker-compose.override.yaml
docker-compose*.yml
docker-compose*.yaml
*.env
*.dockerignore
docker-compose.override.env
docker-compose.override.env.* 

# -------------------
# Logs / coverage
# -------------------
logs/
*.log
coverage/
*.lcov
.nyc_output/
.grunt/
bower_components/
.cache/
build/Release/

# -------------------
# Misc / IDE
# -------------------
.idea/
*.iml
*.ipr
*.iws
*.sublime-workspace
*.sublime-project
*.sw?
*.tmp
*.bak
